<div>
  <h2>all of the employees in the system</h2>
  <div class="tool">
    <div>Filter:<input ng-model="searchText"></div>
    <div><a href="#/employee/new">add employee</a></div>
  </div>
  <ul class="unstyled">
    <li ng-repeat="employee in employees | filter:searchText">
      <button ng-click="deleteEmployee()">Delete</button>
      <span><a href="#/employee/{{employee.id}}">{{employee.name}}</a></span>
      <span>{{employee.email}}</span>
      <span>{{employee.department}}</span>
      <span>{{employee.isManager}}</span>
    </li>
  </ul>
</div>
